@font-face {
    font-family:'Raleway' ;
    src: url('Fonts/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
}
@font-face {
    font-family:'Raleway';
    src: url(Fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
* {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.HeaderNav a{
    display:inline-flex;
    color:black;
    text-align:center;
    border:2px solid transparent;
    padding: 20px 20px;
    padding-top: 25px;
    margin-top: -8px;
    text-decoration:none ;
    font-size: 14px;
    
}
.HeaderNav a:hover{
    color:#0065FC;
    border-top-color:#0065FC;
}
.TopPart{
    margin: 10px 50px 40px 50px
}
h1 {
    font-weight:bold;
    font-size: 150%;
}
.search-container {
    font-weight: bold;
    font-size: 90%;
}
.filters {
    font-weight: bold;
    font-size: 110%;
}
h2 {
    font-weight:bold;
    font-size: 150%;
}
h4 {
    font-weight:bold;
    font-size: 120%;
}
.Hosts {
    display: grid;
    margin-left:50px;
    margin-right:50px;
    grid-template-columns:2.5fr 1fr ;
    column-gap: 50px;
}
.HostingMain {
    border: 0px solid transparent;
    background-color: #F2F2F2;
    border-radius: 50px 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.HostMainList{
    display: grid;
    grid-template-areas:"three three three"; 
    gap:50px;
}
.HostMainCard{
    border: 7px solid white;
    border-radius: 20px 20px;
    overflow: hidden;
    background-color: white;
    padding: auto;
    max-width: 275px;;
    box-shadow: 0 0 20px #00000020;

}
.HostMainCardImg {
    height: 115px;
    width: 275px;
    object-fit: cover;
}
.HostMainCardTxt {
    display: inline-block;
    margin-top: -20px;
    margin-left: 5px;
}
.PopularHost {
    justify-content:space-around;
    border: 0px solid black;
    background-color: #F2F2F2;
    border-radius: 50px 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    float: right;
}
.PopHostList
{   display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:50px;
}
.HostPopCard {
    border: 7px solid white;
    border-radius: 20px 20px;
    overflow: auto;
    background-color: white;
    padding: auto;
    max-height: 130px;
    box-shadow: 0 0 20px #00000020;
}
.HosPopCardImg {
    display: inline-block;
    height: 130px;
    width: 130px;
    object-fit: cover;
}
.HostPopCardTxt {
    display: inline-block;
}
.Activities {
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 0px 50px;
    align-content: center
}
.ActivitiesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:50px;

}
.ActivitiesCard {
    border: 7px solid white;
    border-radius: 20px 20px;
    overflow: auto;
    background-color: white;
    padding: auto;
    height: fit-content;
    box-shadow: 0 0 20px #00000020;
    
}
.Activities img {
    object-fit: cover;
    width:100%;
}