@font-face {
    font-family:'Raleway' ;
    src: url('Fonts/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
}
@font-face {
    font-family:'Raleway';
    src: url(Fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
* {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.HeaderNav a{
    display:inline-flex;
    color:black;
    text-align:center;
    border:2px solid transparent;
    padding: 20px 20px;
    padding-top: 25px;
    margin-top: -8px;
    text-decoration:none ;
    font-size: 14px;
    
}
.HeaderNav a:hover{
    color:#0065FC;
    border-top-color:#0065FC;
}
.TopPart{
    margin: 10px 50px 40px 50px
}
h1 {
    font-weight:bold;
    font-size: 150%;
}
.SearchField {
    display: flex;
    flex-wrap: wrap;
}
.SearchField i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    height:40px;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.SearchField input {
    display: flex;
    border: 1px solid #F2F2F2;
    color:black;
    font-weight: bold;
    padding: 10px;
}
.SearchField button {
    border: transparent;
    background-color: #0065FC ;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    padding: 10px;
}
.filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: bold;
    gap: 15px;
    font-size: 110%;
    padding-top: 20px;
}
.filters button {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 20px 20px;
    height: 40px;
    padding-right: 20px;
}
.filters i {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    background-color:#DEEBFF ;
    border-radius: 20px 20px;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-left:-8px;
}
.information {
    display: flex;
    align-items: center;
    gap:10px;
}
.information i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border:1px solid #f2f2f2;
    width:20px;
    height:20px;
    border-radius:10px;
    font-size: 70%;
}
h2 {
    font-weight:bold;
    font-size: 150%;
}
h4 {
    font-weight:bold;
    font-size: 120%;
}
.Hosts {
    display: grid;
    margin-left:50px;
    margin-right:50px;
    grid-template-columns:repeat(15,1fr);
    column-gap: 50px;
}
.HostingMain {
    grid-column: 1/11;
}
.PopularHost {
    grid-column: 11/16;
}
.HostingMain {
    border: 0px solid transparent;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.HostMainList{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr 1fr ;
    gap:50px;
}
.HostMainCard{
    display: flex;
    flex-wrap: wrap;
    border: 7px solid white;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 20px #00000020;
}
.HostMainCardImg {
    display:block;
    height: 135px;
    min-height: 75px ;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}
.HostMainCardTxt {
    display:block;
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: -25px;
    color:black;
}
.HostMainCardTxt {
    display: grid;
    grid-template-rows: repeat(3,33%);
}
.fa-star {
    color: #D9D9D9;
}

.HostMainCardRanking1 :nth-child(-n+4){color:#0065FC}
.HostMainCardRanking2 :nth-child(-n+5){color:#0065FC}
.HostMainCardRanking3 :nth-child(-n+4){color:#0065FC}
.HostMainCardRanking4 :nth-child(-n+3){color:#0065FC}
.HostMainCardRanking5 :nth-child(-n+4){color:#0065FC}
.HostMainCardRanking6 :nth-child(-n+5){color:#0065FC}

.AfficherPlus {
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 50px;
    padding-bottom: 10px ;
}
.PopularHost {
    border: 0px solid black;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    overflow: hidden;
}
.PopularHostTitle i{
    float:right;
}
.PopHostList
{   display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:40px;
}
.HostPopCard {
    border: 7px solid white;
    border-radius: 20px;
    overflow:hidden;
    background-color: white;
    box-shadow: 0 0 20px #00000020;
}
.HostPopCard a {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}
.HostPopCardImg {
    object-fit:cover;
    width:100%;
    height:100%;
    position: absolute;
}
.HostPopCardImgHold {
    position: relative;
    height: 170px;
    width: 33%;
    object-fit: cover;
    overflow: hidden;
}
.HostPopCardTxt {
    display: flex;
    flex-flow: column wrap;
    color:black;
    inline-size: 50%;
    justify-self: center;
    justify-items: center;
    margin-left: 20px;
    margin-top: -10px;
}

.HostPopCardRanking1 :nth-child(-n+5){color:#0065FC}
.HostPopCardRanking2 :nth-child(-n+4){color:#0065FC}
.HostPopCardRanking3 :nth-child(-n+4){color:#0065FC}

.Activities {
    gap:20px;
    margin: 50px;
}
.ActivitiesTitle {
    margin:50px;
}
.ActivitiesCard {
    border-radius: 20px;
    background-color: white;
    overflow: hidden ;
    box-shadow: 0 0 20px #00000020;
}
.ActivitiesCardTxt {
    gap: 20px;
    margin:20px;
    color:black;
    text-decoration: none;
    height:fit-content;
}
.ActivitiesCardImgHolder {
    position:relative;
    height: calc(100% - 70px);
}
.ActivitiesCardImg {
    object-fit:cover;
    width:100%;
    height:100%;
    position: absolute;
}

.ActivitiesList{
    display: grid;
    gap:50px ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(12,1fr);
}
.ActivitiesCard:nth-child(1){
    grid-row:1/13;
    grid-column:1/2 ;
}
.ActivitiesCard:nth-child(2){
    grid-row:1/8 ;
    grid-column:2/3 ;
}
.ActivitiesCard:nth-child(3){
    grid-row:8/13 ;
    grid-column: 2/3 ;
}
.ActivitiesCard:nth-child(4){
    grid-row: 1/13;
    grid-column: 3/4;
}
.ActivitiesCard:nth-child(5){
    grid-row: 1/7;
    grid-column: 4/5;
}
.ActivitiesCard:nth-child(6){
    grid-row: 7/13;
    grid-column: 4/5;
}

footer{
    color:black;
    background-color: #F2F2F2;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: left;
    gap:20%;
    padding: 10px 50px 30px 50px;
    margin: -20px;
}