@font-face {
    font-family:'Raleway' ;
    src: url('Fonts/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
}
@font-face {
    font-family:'Raleway';
    src: url(Fonts/Raleway-Bold.ttf);
    font-weight: bold;
}
* {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
}
body{margin: 0;}
a:visited, a:link, a:active {
    text-decoration: none;
    color:black;
}
a:hover{
    cursor:pointer;
}
button:hover{
    cursor: pointer;
}
.HeaderNav a{
    color:black;
    text-decoration:none ;
    font-size: 14px;
}
.HeaderNav a:hover{
    color:#0065FC;
}
.SignUp{
    color:#0065FC !important;
    font-weight: bold;
}
h1 {
    font-weight:bold;
    font-size: 150%;
}
.SearchField {
    display: flex;
    flex-wrap: wrap;
}
.SearchField i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    height:40px;
    width: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.SearchField input {
    display: flex;
    border: 1px solid #F2F2F2;
    color:black;
    font-weight: bold;
    padding: 10px;
}
.SearchField button {
    border: transparent;
    background-color: #0065FC ;
    color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    padding: 10px;
}
.filters {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: bold;
    gap: 15px;
    font-size: 110%;
    padding-top: 20px;
}
.filters button {
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid #D9D9D9;
    background-color: white;
    border-radius: 20px 20px;
    height: 40px;
    padding-right: 16px;
    gap:9px
}
.filters button:hover{
    transition-duration:100ms;
    transform:scale(1.01);
    background-color: #F2F2F2;
}
.RechercheIcon i{
    background:none;
    height: auto;
    width: auto;
}
.filters i {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    background-color:#DEEBFF ;
    border-radius: 20px 20px;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin-left:-8px;
}
.information {
    display: flex;
    align-items: center;
    gap:10px;
}
.information i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border:1px solid #f2f2f2;
    width:20px;
    height:20px;
    border-radius:10px;
    font-size: 70%;
}
h2 {
    font-weight:bold;
    font-size: 150%;
}
h4 {
    font-weight:bold;
    font-size: 120%;
}

    /* Hébergements */

.Hosts {
    display: grid;
}
.HostMainList{
    display: grid;
    gap:50px;
}
.HostMainCard{
    padding: 7px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px #00000020;
}

.HostMainCard:hover{
    transform:scale(1.03);
    transition-duration:100ms ;
}
.HostMainCard a {
    display: grid;
    grid-template-rows: auto auto;
}
.HostMainCardImg {
    display:block;
    height: 135px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius : 16px;
    border-top-right-radius: 16px;
}
.HostMainCardTxt {
    display: grid;
    grid-template-rows: repeat(5,16px);
    gap: 5px;
    margin-left: 10px;
    margin-top: -16px;
    color:black;
    height:100%
}
.HostMainCardTxt :nth-child(1){
    grid-row: 1/3;
}.HostMainCardTxt :nth-child(2){
    grid-row: 3/5;
}
.HostMainCardTxt :nth-child(3){
    grid-row: 6/7;
}
.fa-star {
    color: #D9D9D9;
}

.HostMainCardRanking1 :nth-child(-n+4){color:#0065FC}
.HostMainCardRanking2 :nth-child(-n+5){color:#0065FC}
.HostMainCardRanking3 :nth-child(-n+4){color:#0065FC}
.HostMainCardRanking4 :nth-child(-n+3){color:#0065FC}
.HostMainCardRanking5 :nth-child(-n+4){color:#0065FC}
.HostMainCardRanking6 :nth-child(-n+5){color:#0065FC}

.AfficherPlus {
    color:black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

    /* Les Plus Populaires*/

.PopularHostTitle i{
    float:right;
}
.PopHostList{
    display: grid;
    gap:40px;
}
.HostPopCard {
    border: 7px solid white;
    border-radius: 20px;
    overflow:hidden;
    background-color: white;
    box-shadow: 0 0 20px #00000020;
}
.HostPopCard:hover{
    transform:scale(1.03);
    transition-duration:100ms ;
}
.HostPopCard a {
    display: grid;
    grid-template-columns: 33% 1fr;
}
.HostPopCardImg {
    object-fit:cover;
    width:100%;
    height:100%;
    position: absolute;
}
.HostPopCardImgHold {
    position: relative;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
}
.HostPopCardTxt {
    display: grid;
}

.HostPopCardRanking1 :nth-child(-n+5){color:#0065FC}
.HostPopCardRanking2 :nth-child(-n+4){color:#0065FC}
.HostPopCardRanking3 :nth-child(-n+4){color:#0065FC}

    /* Activités */

.Activities {
    gap:20px;
    padding-bottom: 30px;
}
.ActivitiesCard {
    border-radius: 20px;
    background-color: white;
    overflow: hidden ;
    box-shadow: 0 0 20px #00000020;
}
.ActivitiesCard:hover{
    transform:scale(1.03);
    transition-duration:100ms ;
}
.ActivitiesCardTxt {
    gap: 20px;
    margin:20px;
    color:black;
    text-decoration: none;
    height:fit-content;
}
.ActivitiesCardImgHolder {
    position:relative;
    height: calc(100% - 70px);
}
.ActivitiesCardImg {
    object-fit:cover;
    width:100%;
    height:100%;
    position: absolute;
}
.ActivitiesList{
    display: grid;
}
footer{
    color:black;
    background-color: #F2F2F2;
    text-decoration: none;
    width: 100%;
}
footer li{
    list-style-type: none;
    text-decoration: none;
}
footer a{
    line-height: 30px;
}

    /*Responsive*/
    
          @media (min-width: 1440px) {
        .Hosts {
            display: grid;
            grid-template-columns:repeat(15,1fr);
        }
        .HostingMain {
            grid-column: 1/11;
        }
        .PopularHost {
            grid-column: 11/16;
        }
                
        .PopHostList{
            grid-template-rows: 1fr 1fr 1fr;
        }
        .Hosts {
            margin-left:50px;
            margin-right:50px;
            grid-template-columns:repeat(15,1fr);
            column-gap: 50px;
        }
        .HostingMain {
            grid-column: 1/11;
        }
        .PopularHost {
            grid-column: 11/16;
        }
        footer {
            display: flex;
            flex-flow: row nowrap;
            align-content: flex-start;
            gap:20%;
            padding: 10px 50px 30px 50px;
        }
          }
          @media (max-width: 1440px) {
            .Hosts {
              grid-template-columns: 1fr;
              row-gap: 50px;
            }
            .HostingMain {grid-row: 2;}
            .PopularHost{ grid-row: 1;}
            .PopHostList {
              grid-template-columns:1fr;
              grid-template-rows: 160px;
              grid-row-start: 1;
            }
            .HostMainList{
                grid-template-columns:repeat(3,1fr);
                grid-template-rows:1fr 1fr ;
            }
            footer {
                display: flex;
                flex-flow: row nowrap;
                align-content: flex-start;
                gap:10% ;
                padding: 10px 50px 30px 50px;
            }
          }
          @media (min-width: 925px) {
            .HostMainList {
              grid-template-columns: repeat(3, 1fr);
            }
          }
          @media (max-width: 925px) {
            .ActivitiesList {
              row-gap: 30px;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 200px 200px 200px;
            }
              footer {
                display: flex;
                flex-flow:column nowrap;
                align-content: flex-start;
                gap:20%;
                padding: 10px;
            }        .HostMainList {
              grid-template-columns: 1fr 1fr;
            }
          }
          @media (max-width: 1000px) {
            .PopHostList {
              grid-template-columns: 1fr;
              grid-template-rows: repeat(3, 140px);
            }
          }
          @media (min-width:1100px) {
            .ActivitiesList {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows:repeat(12,1fr);
            }
            .ActivitiesCard:nth-child(1){
                grid-row:1/13;
                grid-column:1/2 ;
            }
            .ActivitiesCard:nth-child(2){
                grid-row:1/8 ;
                grid-column:2/3 ;
            }
            .ActivitiesCard:nth-child(3){
                grid-row:8/13 ;
                grid-column: 2/3 ;
            }
            .ActivitiesCard:nth-child(4){
                grid-row: 1/13;
                grid-column: 3/4;
            }
            .ActivitiesCard:nth-child(5){
                grid-row: 1/7;
                grid-column: 4/5;
            }
            .ActivitiesCard:nth-child(6){
                grid-row: 7/13;
                grid-column: 4/5;
            }
            .HostPopCardTxt{
                grid-template-rows: 35% 50% 15%;
                margin:-15px 20px 0px 20px;
            }
          }
          @media (max-width: 1100px) {
            .ActivitiesList {
              row-gap: 30px;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: 200px 200px;
            }
            footer {
                display: flex;
                flex-flow:row nowrap;
                align-content: flex-start;
                gap:5%;
                padding: 10px;
            }
            .HostPopCardTxt{
                grid-template-rows: 40% 30% 30%;
                margin:-20px 20px 30px 20px;
            }
          }
          @media (max-width: 800px){
            .ActivitiesList {
                row-gap: 30px;
                grid-template-columns:1fr 1fr;
                grid-template-rows: 200px 200px 200px;
              }
          }
          @media (max-width: 650px) {
            .ActivitiesList {
              row-gap: 30px;
              grid-template-columns: 1fr;
              grid-template-rows: 200px 200px 200px 200px 200px 200px;
            }
            .HostMainList {
                grid-template-columns: 1fr;
              }
              footer {
                display: flex;
                flex-flow:column nowrap;
                align-content: flex-start;
                gap:10%;
                padding: 10px;
            }
            .HeaderNav{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
              }         
              .HeaderLogo { grid-area: 1 / 1 / 2 / 2; }
              .SignUp { grid-area: 1 / 4 / 2 / 5; }
              .HostingHeader { grid-area: 2 / 1 / 3 / 3; }
              .ActivitiesHeader { grid-area: 2 / 3 / 3 / 5; }
              
            .HeaderNav a{
                text-align:center;
                border:3px solid transparent;
                padding: 20px 20px;
                padding-top: 25px;
                gap:20px;
            }
            .HostingHeader, .ActivitiesHeader{
                border-bottom-color: #D9D9D9 !important;
            }
            .HostingHeader:hover, .ActivitiesHeader:hover{
                border-bottom-color:#0065FC !important;
            }
          }
          @media (min-width: 650px) {
            header{
                margin-left: 50px;
                margin-right: 50px;
            }
            .HeaderNav{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(8,1fr);
                gap:10px
            }
            .HeaderLogo{
                margin-top: 10px;
            }
            .HostingHeader, .ActivitiesHeader, .SignUp {
                text-align:center;
                border:2px solid transparent;
                padding: 20px 20px;
                padding-top: 25px;
                gap:20px
            }
            .SignUp{
                grid-column:19/21;
            }
            .ActivitiesHeader{
                grid-column: 17/19;
            }
            .HostingHeader{
                grid-column: 14/17;
            }
            .HeaderNav a:hover{
                border-top-color:#0065FC;
            }
    
          }
          @media (max-width: 520px){
                .TopPart{padding: 20px}
                .RechercheText{
                    display: none;
                }
                .SearchField input{flex:auto;overflow: auto;}
                .filters p{width: 100%;}
                .Hosts {gap: 10px;}
                .HostingMain {
                padding:20px;
                overflow: hidden;
                }
                .PopularHost {
                width:100%;
                background-color: #F2F2F2;
                padding: 20px;
                overflow: hidden;
                }
                .PopularHostTitle {
                    margin-right: 35px;
                    padding-bottom: 7px;
                }
                .PopHostList{
                    width: auto;
                    margin-right: 35px;
                }
                .AfficherPlus{
                padding-top: 30px;
                padding-bottom: 10px ;
                }
                .Activities {
                    margin: 10px;
                }
                .ActivitiesTitle{
                    padding-bottom: 20px;
                }
                .ActivitiesList{
                    gap:30px ;
                }
          }
          @media (min-width: 520px){
            .TopPart{
                margin: 10px 50px 40px 50px
            }
            .RechercheIcon {
                display: none;
            }
            .filters p{width: auto;}
            .Hosts {
                margin-left:50px;
                margin-right:50px;
                gap: 50px;
            }
            .HostingMain {
                border: 0px solid transparent;
                background-color: #F2F2F2;
                border-radius: 30px;
                padding: 50px 30px 50px 50px;
                overflow: hidden;
            }
            .PopularHost {
                width: auto;
                border: 0px solid black;
                background-color: #F2F2F2;
                border-radius: 30px;
                padding-top: 30px;
                padding-right: 50px;
                padding-left: 50px;
                padding-bottom: 40px;
                overflow: hidden;
            }
            .AfficherPlus{
                padding-top: 50px;
            }
            .Activities {
                gap:20px;
                margin: 50px;
            }
            .ActivitiesTitle{
                padding-bottom: 20px;
            }
            .ActivitiesList{
                gap:50px ;
            }
          }